<h3>Search a movie</h3>
<div class="col-lg-10 panel panel-info">
    <div class="panel-body">
        <input class="form-control" placeholder="Search" >
        <div class="Search-list">
            <a *ngFor="let TopMovie of (TopMovies | async)?.results"
                [class.active]="TopMovie === selectedTopMovie" (click)="selectedTopMovie = TopMovie">
                <h6 class="text-info">{{TopMovie.title}}</h6>
            </a>
        </div>
        <div class="paging">
            <button class="col-xs-4 btn btn-info" disabled="disabled"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <div class="col-xs-4 page-numbers">1/1</div>
            <button class="col-xs-4 btn btn-info" disabled="disabled"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
</div>
<div class="col-lg-7 panel panel-warning current-selectedTopMovie" *ngIf="selectedTopMovie">
    <!-- Here comes the selected or newly created selectedTopMovie's detail. -->
    <div class="panel-body">
        <img class="profile-picture pull-right" [src]="selectedTopMovie.posterPath">
        <h4 class="text-warning">
            {{selectedTopMovie.title}}</h4>
           <h6 class="text-warning"><b>Genre: {{selectedTopMovie.genre}}</b>
            </h6>
           <p class="text-info">{{selectedTopMovie.overview}}</p>
    </div>
</div>