<h3>Top Rated Movies</h3>
<div class="col-lg-10 col-sm-offset-1 panel panel-info">
    <div class="panel-body">
        <!--<paging-component (onPrevPage)="currentPage=currentPage-1;getResults()" (onNextPage)="currentPage=currentPage+1;getResults()"
            [currentPage]="currentPage" [maxPages]="maxPages"></paging-component>-->
        <div class="cards-list">
            <ng-template ngFor let-movie [ngForOf]="(movies | async)?.results">
                <movie-item [movie]=movie></movie-item>
            </ng-template>
        </div>
        <!--<paging-component (onPrevPage)="currentPage=currentPage-1;getResults()" (onNextPage)="currentPage=currentPage+1;getResults()"
            [currentPage]="currentPage" [maxPages]="maxPages"></paging-component>-->
    </div>
</div>