<h3>Search a Tv Show</h3>
<div class="col-lg-10 col-sm-offset-1 panel panel-info">
    <div class="panel-body">
        <input class="form-control col-sm-6" placeholder="Search..." [(ngModel)]="searchTerm" (keyup.enter)="currentPage=1;getResults()">

        <!--<paging-component (onPrevPage)="currentPage=currentPage-1;getResults()" (onNextPage)="currentPage=currentPage+1;getResults()"
                [currentPage]="currentPage" [maxPages]="maxPages"></paging-component>-->
        <div class="cards-list">
            <div class="item">
                <ng-template ngFor let-result [ngForOf]="(searchResults | async)?.results">
                    <tvshow-item [tvshow]="result"></tvshow-item>
                </ng-template>
            </div>
            <!--<paging-component (onPrevPage)="currentPage=currentPage-1;getResults()" (onNextPage)="currentPage=currentPage+1;getResults()"
                [currentPage]="currentPage" [maxPages]="maxPages"></paging-component>-->
        </div>
    </div>
</div>