a {
    cursor: pointer;
}

.cards-list a.active h6 {
    font-weight: bold;
    color: #00AA00;
}
.cards-list a h6 {
    font-size: 1.1em;
}

.item {
    display: block;
    padding: 5px 8px;
    border: 1px solid rgb(100, 99, 128);
    background: #EEEEFF;
    color: #18bc9c;
}

.item li {
    padding-left: 5px;
}

.item img {
    width: 100px;
    float: right;
    margin: 10px 1em;
}

img.profile-picture {
    max-width: 200px;
    max-height: 200px;
}
button[disabled='disabled'] {
    color: darkgrey !important;
}
.paging .page-numbers {
    text-align: center;
    line-height: 45px;
}